.fadeIn { animation: fadeIn 0.5s backwards; }
.fadeOut { animation: fadeIn 0.5s forwards; }
@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

.fadeInUp { animation: fadeInUp 0.5s forwards; }
@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 20%, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}
.fadeInRight { animation: fadeInRight 0.2s forwards; }
@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
	to {
		opacity: 1;
		transform: none;
	}
}
.slideInRight { animation: slideInRight 0.2s forwards; }
@keyframes slideInRight {
	from {transform: translate3d(100%, 0, 0);}
	to {transform: none;}
}

.animation-delay {animation-delay: 0.2s;}

@keyframes rotate360 {  
	from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}