img {
	max-width: 100%;
	width: auto;
	height: auto;
}

a:focus,
button:focus	{
	outline: none;
}

.post a,
p>a {
	@include link_style;
}

.gallery {
	margin-right: -$website-padding/2;
	margin-left: -$website-padding/2;
	margin-top: $website-padding/2;
	margin-bottom: $website-padding/2;
	&-item {
		display: inline-block;
		margin: $website-padding/2;
	}
	&-icon {
		display: inline-block;
	}
}


.search-field {
	outline: none;

	&, &:focus {
		background-color: transparent;
		border: none;
	}
}

.has-menu_open,
.modal-open {
	overflow: hidden;
}

.cnotv {
	// GLOBAL
	&__main {
		transition: filter 0.2s;
		transition: opacity 0.2s;
		@include media-bp(tablet-min) {
			padding-top: $website-padding;
			padding-bottom: $website-padding;
		}
		@include media-bp(mobile) {
			padding-top: $website-padding/2;
			padding-bottom: $website-padding/2;
		}

		@include menu_open {
			filter: blur(10px);
			opacity: .5;
		}
	}

	&__container {
		clear: both;
		margin: 0 auto;
		@include media-bp(tablet-min) {
			padding-left: $website-padding;
			padding-right: $website-padding;
			max-width: $website-width;
		}
		@include media-bp(mobile) {
			padding-left: $website-padding/2;
			padding-right: $website-padding/2;
		}
	}

	&__section {
		width: 100%;
	}

	&__divider {
		border-top: $website-border;
	}

	&__more {
		font-size: 1rem;
		width: 1rem;
		height: 1rem;
		text-align: center;
		transition: transform 0.2s;
		display: table-cell;
		line-height: 1em;
		&:hover,
		&:focus {
			text-decoration: none;
			transform: rotate(90deg);
		}
	}

	&__loader {
		position: absolute;
		top: 50%;
		left: 50%;

		font-size: 3em;
		i {
			animation: rotate360 1s linear infinite;
			padding: .1em;
		}
	}
}

.hidden {
	display: none;
}
.hidden-tablet-min {
	@include media-bp(tablet-min) {
		display: none;
	}
}
