.cnotv {
	&__link {
		&:focus, &:hover {
			text-decoration: none;
			.cnotv__title:after {
				width: 100%;
			}
		}
	}
	&__featured {
		position: relative;
		background-color: #fff;
		max-width: 100%;
		border-radius: 5px;
		overflow: hidden;
		box-shadow: 0 1px 1px rgba($body-color,0.3);
		transition: box-shadow 0.2s;
		&__link {
			display: none;
			padding: .3em;
			position: absolute;
			line-height: 1;
			background-color: #fff;
			border-radius: 50%;
			margin: .5em;
			opacity: .5;
			z-index: 1;
			&:hover {
				opacity: 1;
			}
			article:hover & {
				display: block;
			}
		}
	}
	&__link:hover &__featured {
		box-shadow: 0 5px 15px 5px rgba($body-color,0.3);
	}
	&__link &__title {
		display: inline-block;
		&:after {
			content: " ";
			display: block;
			width: 0;
			margin: auto;
			border-bottom: $website-border;
			transition: width 0.2s;
		}
	}

	&__meta {
		margin-top: 0.8em;
		line-height: 2em;
		a {
			@include link_style;
		}
	}
}